<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
<form action="/signup" method="post">
    <input type="text" name="id" placeholder="ID" required><br>
    <input type="password" name="password" placeholder="비밀번호" required><br>
    <input type="text" name="name" placeholder="이름" required><br>
    <input type="text" name="gender" placeholder="성별" required><br>
    <input type="text" name="birth" placeholder="생년월일8자리" required><br>
    <input type="text" name="nickname" placeholder="닉네임" required><br>
    <input type="text" name="locationX" placeholder="x좌표" required><br>
    <input type="text" name="locationY" placeholder="y좌표" required><br>
    <input type="text" name="tagFamily" placeholder="몇명이서 여행하세요?" required><br>
    <input type="text" name="tagLike" placeholder="무엇을 하고 싶으세요?" required><br>

    <button type="submit">회원가입</button>
</form>
</body>
</html>