<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
<form action="/signup" method="post">
    <input type="text" name="" placeholder="ID" required><br>
    <input type="text" name="name" placeholder="NAME" required><br>
    <input type="text" name="userID" placeholder="userID" required><br>
    <input type="password" name="password" placeholder="password" required><br>

    <button type="submit">회원가입</button>
</form>
</body>
</html>